@import url('./main-layout.css');
@import url('./views/cropplants-view.css');
@import url('./views/agro-biodiversity-view.css');
@import url('./views/domesticated-diversity-view.css');
@import url('./views/wild-diversity-view.css');
@import url('./views/person-form-view.css');
@import url('./views/gridwith-filters-view.css');
@import url('./views/checkout-form-view.css');
@import url('./views/card-list2-view.css');
@import url('./views/collaborative-master-detail2-view.css');    html {
      --lumo-primary-color: hsl(120, 62%, 39%);
      --lumo-primary-color-50pct: hsla(120, 62%, 39%, 0.5);
      --lumo-primary-color-10pct: hsla(120, 62%, 39%, 0.1);
      --lumo-primary-text-color: hsla(119, 93%, 29%, 0.69);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-line-height-m: 1.4;
      --lumo-line-height-s: 1.2;
      --lumo-line-height-xs: 1.1;

    }

    [theme~="dark"] {
      --lumo-base-color: hsl(214, 23%, 82%);

    }
    

vaadin-app-layout::part(drawer) {
  width: 300px;
}
.radiobutton{
	--font-size:1px;
	--background-color: rgb(115, 153, 0);
}
vaadin-radio-group vaadin-radio-button{
	font-size: 0.9em;
	--height: 60%;
  	--width: 100%;
}
vaadin-radio-group vaadin-radio-button::part(radio){
	--height: 60%;
  	--width: 100%;
  	--font-size:5%;
}
vaadin-radio-group vaadin-radio-button::part(radio)::after {
		height: 60%;
  		width: 60%;
	}

vaadin-radio-group vaadin-radio-group::part(group-field){
	--lumo-font-size-s: 0.8125rem;
}
vaadin-radio-group vaadin-radio-group > label{
	font-size:5%;
}

.login{
	background-image: url("../images/bg.jpg");
	background: url("../images/bg.jpg");
}


.login-rich-content {
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
}





.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s, transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    color: hsla(119, 93%, 29%, 0.90);
}

.card-title {
    font-size: 1.5em;
    margin-top: 16px;
    text-align: center;
}

.card-description {
    margin: 16px 0;
    text-align: center;
     color: hsla(119, 93%, 29%, 0.90);
}